<aside class="col-sm-3">
    <section class="user_info">
      <h1>
        <%= gravatar_for current_user %>
        <%= current_user.full_name %>
      </h1>
    </section>

  </aside>

<div class="col-sm-9 padding-right text-center">
  <div class="shopper-informations">
				<div class="row">
					<div class="col-sm-6">
						<div class="shopper-info">
							<p>Ações</p>
							<a class="btn btn-primary" href="">Meus Pedidos</a>
							<a class="btn btn-primary" href="">Meus Endereços</a>
						</div>
					</div>
					<div class="col-sm-6 clearfix">
						<div class="bill-to">
							<p>Meu Perfil</p>
							<div class="signup-form">
                <%= form_for(current_user) do |f| %>
                  <%= render 'clients/fields', f: f %>
                  <%= f.submit "Atualizar Dados", class: "btn btn-primary" %>
                <%end%>
							</div>
						</div>
					</div>
				</div>
			</div>
</div>
